@import "/styles/variables.scss";

.searchBar {
  max-width: 500px;
  height: 1000px;
  margin: 50px auto;
  font-family: Montserrat, sans-serif;
  background-color: white;
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 8px 2px 0px;
    border-bottom: 1px solid $primary;
    box-sizing: border-box;
    i {
      font-size: 30px;
      margin-right: 10px;
      color: $primary;
    }
    input {
      font-size: 24px;
      font-weight: 300;
      flex: 1;
      font-family: inherit;
      display: block;
    }
  }
  .results {
    width: 100%;
    font-size: 16px;
    > li {
      display: flex;
      align-items: center;
      padding: 8px;
      &:hover {
        background-color: #f5f5f5;
      }

      .result-text {
        line-height: 1.4;
        margin-left: 10px;
      }

      .result-icon {
        min-width: 35px;
      }
    }
  }
  .highlight-text {
    font-weight: 500;
    color: $primary;
  }
}
