@import "/styles/variables.scss";

.hero {
  height: 100vh;
  background-color: $primary;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    
    .logo {
      width: 300px;
      position: relative;
      left: 7px; //offset logo to effectively ignore period when centering.
      margin: auto;
    }

    nav {
      padding-top: 25px;
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        li {
          margin: 25px;
          flex-shrink: 0;
        }
      }
      
      .focused-category {
        color: white;
        position: relative; 
        top: 25px;
        height: 0px;
        text-align: center;
        font-size: 32px;
        font-weight: 100;
        font-family: Montserrat, sans-serif;

        .category-name {
          color: #000;
          font-weight: 200;
        }
      }
    }
  }
}