@import "/styles/variables.scss";

.hero {
  height: 100vh;
  background-color: $primary;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    
    .logo {
      width: 300px;
      margin-left: 16px; //offset logo to effectively ignore period when centering.
      margin: auto;
    }

    nav {
      padding-top: 25px;
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        li {
          margin: 25px;
          flex-shrink: 0;
        }
      }
    }
  }
}
