@import "/styles/variables.scss";

.hero {
  height: calc(100vh - $header-height);
  background-color: $primary;
  position: relative;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
  }
}
